<div class="movie-grid">
  <div ng-repeat="movie in movies" class="movie col-xs-6 col-sm-4 col-md-3">
    <img class="poster img-responsive" ng-src="{{ movie.posters.detailed }}" alt="movie poster">
    <div class="movie-info">
      <p class="title">{{ movie.title }}</p>
      <div class="ratings">
        <span class="rating">Critics: {{ movie.ratings.critics_score }}%</span>
        <span class="rating">Audience: {{ movie.ratings.audience_score }}%</span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
